#title {
    background-color: #ff4c64;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navbar */

.navbar {
    font-family: "Ubuntu";
    padding: 12%;
    font-size: 1.2rem;
    font-weight: 900;
}

a.navbar-brand {
    font-size: 2.6rem;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.collapse a {
    margin: 0px 20px;
}

/* Cover page */

.row h1 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 3.9rem;
    line-height: 1.5;
    color: white;
}

.cbtnc {
    display: flex;
    width: 28rem;
}

.cbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    margin: 3rem .5rem;
}

.cbtn:hover {
    box-shadow: 25px 24px 28px black;
}

.iLogo {
    width: 3rem;
    padding: 3px 5px 10px 0px;
}

.gLogo {
    width: 3rem;
    padding: 3px 5px 5px 0px;
}


.iImg {
    width: 15rem;
    transform: rotate(25deg);
    margin-left: 10rem;
    border-radius: 40px;
    box-shadow: 25px 24px 28px black;
}

/* Feature section */
.feature-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}

.feature-box p {
    color: gray;
    font-weight: 400;
    font-size: medium;
}

.row {
    padding: 4% 10% 5%;
}

.row h3 {
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    color: black;
}

.ico {
    width: 4rem;
    margin-bottom: 1rem;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background-color: #ff4c64;
}

#testimonials h2 {
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.place {
    color: white;
}

.carousel-item {
    padding: 5% 15%;
}

/* Press Section */

#press {
    background-color: #ff4c64;
    text-align: center;
    padding-bottom: 1rem;
}

#press img {
    width: 10%;
    margin: 0rem 6rem 2rem 6rem;
}

/* Pricing */

#pricing {
    text-align: center;
    padding-top: 2rem;
}

#pricing h1 {
    font-size: 4rem;
}

.head {
    font-size: 1.5rem;
}

/* Subscription */

.btn:hover {
    box-shadow: 25px 24px 28px black;
}

/* CTA section */

#cta {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
    justify-content: center;
    align-items: center;
    background-color: #ff4c64
}

#cta h3{
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 3.5rem;
}

/* Footer */

#footer{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 5rem 0rem 0rem 0rem;
}

.fLogo{
    width: 2rem;
    margin: 1.5rem;
}

#footer p{
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    background-color: whitesmoke;
}