#title {
    background-color: #ff4c64;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navbar */

.navbar {
    font-family: "Ubuntu";
    padding: 12%;
    font-size: 1.2rem;
    font-weight: 900;
}

.navbar a {
    color: black;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.collapse a {
    margin: 0px 20px;
}

/* Cover page */

.row {
    padding: 6% 10% 5%;
}

.row h1 {
    text-align: center;
    font-weight: 900;
    font-size: 3.9rem;
    line-height: 1.5;
    color: antiquewhite;
}

.cbtnc {
    display: flex;
    width: 28rem;
    margin: auto;
}

.cbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    margin: 3rem .5rem;
}

.cbtn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    margin: 3rem .5rem;
    box-shadow: 25px 24px 28px black;
}

.iLogo {
    width: 3rem;
    padding: 3px 5px 10px 0px;
}

.gLogo {
    width: 3rem;
    padding: 3px 5px 5px 0px;
}


.iImg {
    width: 15rem;
    transform: rotate(25deg);
    margin-left: 10rem;
    border-radius: 40px;
    box-shadow: 25px 24px 28px black;
}

/* Feature section */

.feature-box {
    text-align: center;
}

.feature-box h3 {
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.feature-box p {
    color: gray;
    font-weight: 400;
    font-size: medium;
}

.ico {
    width: 4rem;
    margin-bottom: 1rem;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background-color: #ff4c64;
}

#testimonials h2 {
    font-size: 3rem;
    line-height: 1.5;
    color: antiquewhite;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.place {
    color: antiquewhite;
}

.carousel-item {
    padding: 5% 15%;
}

/* Press Section */

#press {
    background-color: #ff4c64;
    text-align: center;
    padding-bottom: 1rem;
}

#press img {
    width: 15%;
    margin: 4rem;
}

/* Pricing */

#pricing{
    text-align: center;
    padding-top: 2rem;
}

#pricing h1{
    font-size: 4rem;
}

.head{
    font-size: 1.5rem;
}